html {
    cursor: default;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#reader {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#book {
    display: none;
    width: 80%;
    height: 80%;
    margin: auto;
}

#start-page {
    margin: auto;
}

#recently-opened {
    margin: auto;
    color: #292929;
    list-style-type: none;
    font-size: 40px;
    max-height: 100%;
    overflow-y: scroll;
}

#recently-opened::-webkit-scrollbar {
    display: none;
}

#recently-opened li {
    margin: auto;
}

#recently-opened li:hover {
    color: #777;
}

#recently-opened li:active {
    color: #000;
}

.no-book-message {
    margin: auto;
    color: #292929;
    font-size: 60px;
}

.no-book-message:hover {
    color: #777;
}

.no-book-message:active {
    color: #000;
}

#recent-books-label {
    margin: auto;
    font-size: 45px;
}

#table-of-contents {
    display: none;
    width: 500px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: wrap;
}

#table-of-contents ul {
    list-style-type: none;
}

#table-of-contents ul.toc {
    padding-left: 0;
    margin-top: 0;
}

#table-of-contents li {
    color: black;
    line-height: 1.5;
}

#table-of-contents li>span:hover {
    color: #777;
}

#table-of-contents .no-book-message {
    font-size: 30px;
}

.arrow {
    margin: auto;
    font-size: 40px;
    color: #E2E2E2;
}

.arrow:hover {
    color: #777;
}

.arrow:active {
    color: #000;
}

#page-left {
    margin-left: 40px;
}

#page-right {
    margin-right: 40px;
}
