/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('./fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/open-sans-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #BBB;
}

html {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

#app {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#reader {
    display: flex;
    width: 100%;
    min-width: 50%;
    height: 100%;
    max-height: 100%;
}

#book {
    display: none;
    width: 80%;
    height: 80%;
    margin: auto;
}

#start-page {
    margin: auto;
}

#recently-opened {
    margin: auto;
    color: #292929;
    list-style-type: none;
    font-size: 2.1rem;
    max-height: 100%;
    overflow-y: scroll;
}

#recently-opened::-webkit-scrollbar {
    display: none;
}

#recently-opened li {
    margin: auto;
}

#recently-opened li:hover {
    color: #777;
}

#recently-opened li:active {
    color: #000;
}

#menu-button {
    position: relative;
    font-size: 2.8rem;
    height: 40px;
    top: 40px;
    left: 40px;
    color: #BBB;
}

#menu-button:hover {
    color: #777;
}

.no-book-message {
    margin: auto;
    color: #292929;
    font-size: 3.7rem;
}

.no-book-message:hover {
    color: #777;
}

.no-book-message:active {
    color: #000;
}

#recent-books-label {
    margin: auto;
    font-size: 2.8rem;
}

#titleWrapper {
    position: fixed;
    padding-top: 0.5em;
    width: 100%;
    text-align: center;
    color: #777;
}

#title {
    margin: auto;
    max-width: 50%;
}

#sidebar {
    display: none;
    width: 350px;
    min-width: 350px;
    height: 100%;
    padding-right: 0.5em;
    border-right: 1px solid #CCC;
    font-size: 1.2rem;
}

#sidebar-contents {
    clear: both;
    margin-top: 0.5em;
    max-height: 96%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar-contents .menuList, #sidebar-contents .menuListItem {
    max-width: 100%;
}

#table-of-contents, #table-of-contents ul {
    list-style-type: none;
}

#table-of-contents.toc {
    padding-left: 0;
    margin-top: 0;
}

#table-of-contents li {
    color: black;
    line-height: 1.5;
}

#table-of-contents li>span:hover {
    color: #777;
}

#table-of-contents .no-book-message {
    font-size: 1.6rem;
}

#find {
    display: none;
    width: 350px; 
    min-width: 350px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: wrap;
    padding-left: 0.5em;
    border-left: 1px solid #CCC;
}

#clearFind {
    display: none;
    float: right;
    position: relative;
    font-size: 1.6rem;
    bottom: 32px;
    right: 16px;
    color: #BBB;
}

#clearFind:hover {
    color: #777;
}

#findInput {
    font-family: "FontAwesome", "Open Sans";
    line-height: 2;
    font-size: 1.2rem;
    width: 99%;
    padding-left: 0.5em;
    box-sizing: border-box;
}

#findInput:focus {
    outline: none;
}

#findResults {
    word-wrap: break-word;
    padding-right: 0.5em;
    font-size: 1.2rem;
}

.menuList, .menuList ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    line-height: 1.5;
}

.bottomBorder {
    border-bottom: 1px solid #777;
}

.menuItemFooter {
    padding-top: 1.5em;
    font-size: 0.9rem;
    color: #777;
}

.clickable:hover {
    color: #777;
}

.findLoading {
    text-align: center;
    padding-top: 1.5em;
    height: 100px;
}

.findLoading i {
    margin: auto;
}

.gutter {
    display: flex;
}

.arrow {
    margin: auto;
    font-size: 40px;
    color: #BBB;
}

.arrow:hover {
    color: #777;
}

.arrow:active {
    color: #000;
}

#page-left {
}

#page-right {
    margin-right: 40px;
}
